* {
    background-color: #FFFFFF;
    box-sizing: border-box;

}

.headline-section {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 769px) {
    .headline-section {
        display: flex;
        justify-content: center;
    }
}
/* Base styles for desktop */
#main-menu {
    display: flex;
    align-items: center;
    height: 150px;
}

#menu-bar {
    display: none;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none;
    padding: 8px;
    margin-right: 10px;
    display: inline-block;
}

.nav li a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

/* Media query for mobile */
@media (max-width: 768px) {
    #main-menu {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    #menu-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 200px;
        justify-content: center;
    }

    #menu-bar {
        display: block;
        margin-right: 20px;
        margin-top: 10px;
    }

    .nav {
        display: none;
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        z-index: 999;
        overflow-y: scroll;
    }

    .nav li {
        display: flex;
        margin: 0;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ECECEC;
    }

    .nav li:last-child {
        border-bottom: none;
    }

    .nav li a {
        display: flex;
        font-size: 16px;
    }

    .nav.active {
        display: block;
    }
}


.headline-img {
    height: 72px;
    width: 200px;
    cursor: pointer;
}

#bar1, #bar2, #bar3 {
    background-color: #000;
    height: 5px;
    width: 35px;
    margin: 6px 0;
    transition: 0.4s;
}

.change #bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.body-img {
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    width: 1110px;
    position: relative;
    display: flex;
    justify-content: center;
}
