* {
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.headline-section {
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 769px) {
    .headline-section {
        display: flex;
        justify-content: center;
    }
}

.headline-img {
    height: 72px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 2px;
}

/* Base styles for desktop */
#main-menu {
    display: flex;
    align-items: center;
    height: 100px;
}

#menu-bar {
    display: none;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none;
    padding: 8px;
    margin-right: 10px;
    display: inline-block;
}

.nav li a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
}

.nav li a:hover {
    font-weight: bold;
    border-bottom: 2px solid black;
}

/* Media query for larger screens */
@media (min-width: 769px) {
    .headline-section {
        display: flex;
        justify-content: center;
        height: 120px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: #FFFFFF;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    #main-menu {
        justify-content: space-between;
        width: 1110px;
        margin: 0 auto;
        height: inherit;
    }

    #menu-bar {
        display: none;
    }

    .nav {
        display: flex !important;
        align-items: center;
        height: inherit;
    }

    .nav li {
        margin-right: 30px;
    }

    .nav li a {
        font-size: 16px;
        margin: 0;
        padding: 0;
        border-bottom: none;
    }

    .nav li a:hover {
        font-weight: bold;
        border-bottom: none;
    }
}


@media (max-width: 768px) {

    .headline-img {
        height: 48px;
        width: 140px;
        justify-content: center;
    }

    #main-menu {
        position: fixed;
        top: 20px;
        right: 0;
    }

    #menu-wrapper:before {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100px;
        justify-content: center;
    }

    #menu-wrapper:after {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 500px;
        justify-content: center;
    }

    #menu-bar {
        display: block;
        margin-top: 0;
        justify-content: center;
        align-items: center;

    }

    .nav {
        display: none;
        position: relative;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        z-index: 999;
        overflow: visible;
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav li {
        display: block;
        margin: 0 auto;
        padding: 2px;
        text-align: center;
        border-bottom: 1px solid #ECECEC;
        flex-direction: column;
    }

    .nav li:last-child {
        border-bottom: 1px solid #ECECEC;
    }

    .nav li a {
        display: flex;
        font-size: 14px;
    }

    .nav.active {
        display: flex;
    }
}

#bar1, #bar2, #bar3 {
    background-color: #000;
    height: 5px;
    width: 35px;
    margin: 10px auto;
    transition: 0.4s;
}

.change #bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.body-section {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.body-section h2 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1rem;
    color: #000000;
    background-color: #FFFFFF;
    max-width: 1110px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    font-family: 'Raleway', sans-serif;
    margin-top: 150px;

}

.gallery-container {
    max-width: 800px;
    margin: 10px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.img-container {
    position: relative;
    flex-basis: calc(33.33% - 20px);
    margin: 5px;
}

.img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .img-container {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .img-container {
        flex-basis: 100%;
    }
}

.footer-end-copyright {
    overflow: hidden;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    word-spacing: 1px;
    box-sizing: border-box;
    position: relative;
}

.footer-end-title {
    overflow: hidden;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    word-spacing: 1px;
    box-sizing: border-box;
    text-decoration: none;
}

.footer-end {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.footer-end * {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin: 0 auto;
}

.media-icons {
    background-color: #000000;
    position: absolute;
    top: 21px;
    left: 20px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    list-style-type: none;

}

.instagram-icon {
    margin-left: 10px;
}

.title-kuzi {
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    word-spacing: 1px;
}